# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# Flask instance folder (if using it)
instance/

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db
